<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <title>Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <!-- icon awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
        crossorigin="anonymous"></script>

    <!-- style css  -->
    <link rel="stylesheet" th:href="@{/css/style.css}"  href="../../static/css/style.css">

</head>

<body>
    <div class="header">
        <div class="container-fluid  d-flex justify-content-between">
            <div class="title">
                <h3>Quản lý nhà sách</h3>
            </div>
            <div class="dropdown user">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item"  th:href=@{'/logout'} >Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <!-- thanh menu  -->
            <nav class="sidenav-dark" th:include="Layout/menu::menu"></nav>
            <!-- end thanh menu  -->
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#"><i class="fas fa-home mr-1"></i>
                                            Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#">Mượn sách</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Chi tiết</li>
                                </ol>
                            </nav>
                        </div>

                        <div class="col-12">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-bar mr-1"></i>
                                    Hóa đơn khách hàng: <b th:text="${HoaDon.khachHang.ten}">Nguyễn văn A</b> / Ngày mượn: <b th:text="${HoaDon.ngayMuon}">02-02-2020</b>
                                </div>
                                <div class="card-body">
                                    <div class="row mb-2">
                                        <div class="col-6">
                                            <a class="btn btn-primary"  th:href=@{'/muon-sach'} >
                                                <i class="fas fa-arrow-left"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Id</th>
                                                <th scope="col">Sách</th>
                                                 <th scope="col">Ngày trả</th>
                                                 <th scope="col">Số lượng</th>
                                                <th scope="col">Giá/ngày</th>
                                                <th scope="col">Thành tiền</th>
                                                <th scope="col">Ngày trả thực tế</th>
                                                <th scope="col">Tiền phạt</th>
                                                 <th scope="col">Active</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="item : ${MuonSachChiTiet_List}">
                                                <th th:text="${item.id}">1</th>
                                                <td th:text="${item.sach.tenSach} + ' - ' + ${item.sach.tacGia}">Mark</td>
                                                 <td th:text="${item.ngayTra}">Mark</td>
                                                <td th:text="${item.soLuong}">Mark</td>
                                                <td th:text="${item.sach.giaMuon}">Mark</td>
                                                <td th:text="${item.thanhTien}">Mark</td>
                                                <td th:text="${item.ngayTraThucTe}">Mark</td>
                                                <td th:text="${item.tienPhat}">Mark</td>
                                                <td th:if="${item.status == 0}">
                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                        <a th:href="@{'/muon-sach/' + ${HoaDon.id} + '/muon-sach-chi-tiet/' + ${item.id}}" class="btn btn-success">
                                                            <i class="fas fa-edit"></i>
                                                        </a>
                                                        <a th:href="@{'/muon-sach/' + ${HoaDon.id} + '/muon-sach-chi-tiet/xoa/' + ${item.id}}"  class="btn btn-danger">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </a>
                                                        <a th:href="@{'/muon-sach/' + ${HoaDon.id} + '/muon-sach-chi-tiet/tra-sach/' + ${item.id}}" class="btn btn-primary">
                                                           Trả sách
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-bar mr-1"></i>
                                    Thêm mới
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <form th:action="@{'/muon-sach-chi-tiet/save/muon-sach/'+${HoaDon.id}}" th:object="${MuonSachChiTiet}" method="POST">
                                                <div class="mb-4">
                                                    <button type="submit" class="btn btn-primary">
                                                        <i class="fas fa-save"></i>
                                                    </button>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-md-1">
                                                        <label>ID</label>
                                                        <input type="text" class="form-control" readonly th:field="*{id}">
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label>Tên sách</label>
                                                        <select class="form-control"  th:field="*{sach}">
                                                             <div th:each="item : ${Sach}">
                                                            <option th:value="${item.id}"
                                                                    th:text="${item.tenSach} +' - ' + ${item.tacGia}">Choose...</option>
                                                        </div>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-2">
                                                        <label>Ngày trả</label>
                                                        <input type="date" class="form-control"   th:field="*{ngayTra}">
                                                    </div>
                                                    <div class="form-group col-md-2">
                                                        <label>Số lượng</label>
                                                        <input type="text" class="form-control" th:field="*{soLuong}">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>


</body>

</html>